// .btn-login{
//     flex-direction: column;
//     justify-content: center;
//     float: right;
// }
.navbar-menu-login{
    display: flex;
    height: 50px;
    // float: right;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    // justify-content: flex-end;
}