.text_small{
    font-size: 0.8rem;
}
.odd{
    background-color: #CCFFFF;
}
tr:hover{
    background-color: greenyellow;
}
.tang{
    background-color: springgreen;
}
.giam{
    background-color: red;
}
.bang{
    background-color: yellow;
}
.width-stand{
    width: 79px;
}